
body{
    height: 400px;
    width: 200px;
}
#menu-items {
    list-style: none;
    padding: 0;
}
#menu-items li {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ddd;
}

.savedRecipe{
    padding: 10px;
    border: solid 1px gray;
    border-radius: 12px;
}

.savedRecipe h3{
    margin-top: 0px;
    margin-bottom: 0px;
}

.savedRecipe p{
    margin-top: 5px;
}